.slide-info-top{
    display: flex;
}

.slide-img-avata {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.slide-text{
    margin: 16px 6px;
    text-decoration: none;
    color: #333;
}

.slide-top{

}


.slide-mid{
}

.slide-mid-theme{
    padding: 12px 10px 5px 10px;
}

.slide-info-menu-list{
    list-style: none;
}

.slide-info-menu-item{
    padding: 12px;
    display: flex;
}

.slide-info-menu-item a{
    margin-left: 5px;
    text-decoration: none;
    color: #333;
}

.slide-info-icon{
    margin-left: 4px;
}

.slide-bot{

}

.slide-bot-theme{
    padding: 12px 10px;
}

.slide-bot-content-menu{
    display: flex;
    padding-bottom: 12px;
}

.slide-bot-img{
    height: 40px;
    width: 40px;
    border-radius: 30%;
    margin-left: 8px;
}

.slide-bot-text{
    margin: 11px 6px;
    text-decoration: none;
    color: #333;
}