.yarddetails-container-img{
    width: 450px;
    height: 450px;
}

.yarddetails-container{
    margin: 20px 40px;
    display: flex;

}

.yarddetails{
    width: 100%;
}

.yarddetails-container-content{
    margin-left: 40px;
}

.yarddetails-container-text{
    list-style: none;
}

.yarddetails-container-star--gold{
    color: yellow;
}