.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    width: var(--default-layout-width);
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}